*, *::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F7FB;
  background-image: url('/blob 4.png'), url('/blob 5.png');
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, scroll;
  background-size: 297px, 297px;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, p {
  color: #293264;
}

button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  padding: 1em 2em;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #FFFAD1;
  color: #4D5B9E;
}

.start-quiz {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1rem;
  font-weight: 400;
}

.start-btn {
  width: 200px;
  margin-top: 1em;
}

.main {
  max-width: 100%;
}

.main > button {
  align-self: center;
  margin-top: 1.5em;
}

.main, .questions, 
.question-container {
  display: flex;
  flex-direction: column;
}

.questions {
  max-width: 100%;
  margin: auto;
}

.options, .score-container {
  display: flex;
}

.options {
  gap: 2em;
  flex-wrap: wrap;
}

.options > button {
  color: #293264;
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 0.7rem;
  text-align: center;
  border: none;
  border: 1px solid #293264;
  flex-shrink: 0;
  border-radius: 8px;
}

.options > button:hover,
.options > button:active {
  background-color: #D6DBF5;
}

.question-container,
.divider {
  max-width: 90%;
}

.divider {
  border-bottom: 1px solid #DBDEF0;
  margin-top: 1.3em;
}